# Go build
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Vendor
vendor/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docs
*.pdf
*.md

# Other
logs/
